@import 'variables';
 @font-face{
   font-family: 'Barlow', sans-serif;
 }

  hr{
    color: $blue_sky_light;
  }

  h1, h2 {
    font-family: 'Barlow', sans-serif;
    text-align: center;
  }

  h1{
    font-weight: 400;
    font-size: 17pt;
    color: $blue_marin;
    @include x_center;
    padding-bottom: 50px;
  }

  h2 {
    font-weight: 300;
    font-size: 17pt;
    color: $blue_marin;
    @include x_center;
    padding-bottom: 7px;
  }

  td, th, tr{
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 12pt;
    color: white;
  }

  p, a, ul, li, .relevance, .toggler{
    font-weight: 400;
    font-size: 13pt;
    text-decoration: none;
    list-style: none;
    font-family: 'Barlow', sans-serif;
    color: $gray;
  }

  .space{
    height: 5vw;
  }

.accordion{
  table{
    border-collapse: separate;
    border-spacing: 1em;
  }
  td{color: $gray !important;}
  li{list-style: circle !important;}
}

.active{
  color: $blue_sky_light !important;
}

.toggler{
  border-bottom: 1px solid $blue_sky_light;
  padding-bottom: 10px;
}
.toggler:hover{
  color: $blue_sky_light;
  transition: all 0.4s;
}


    .mod_article,  {
      max-width: $content_size;
      @include x_center;
      width: 100%;
      margin-top: 50px;
      a{
        color: $blue_sky_light;
        text-decoration-line: underline;
      }
    }


.right{
    float:right;
  }

@media  (max-width: 1030px){ //bis * ausgeführt
  .desktop {
    display: none;
  }
}

@media  (min-width: 1029px){ //ab * ausgeführt
  .mobile {
    display: none;
  }
}


@import 'header';
@import 'footer';
@import 'main';
@import 'menu';