@import "variables";


#main .mod_navigation ul ul {
  width: auto;
  min-width: 100px;
  left: 1000.1px;
  position: absolute;
  margin-top: 17px;
  background-color: rgba(255, 255, 255, .9);
  z-index: 1;
}



  .head{
    width: 100%;
    background-color: rgba(255,255,255,0.9);
    height: 130px;
  }

  .header-logo{
    float: left;
    padding-top: 14px;
  }

  .header-image{
    position: absolute;
    top: -19vw;
    z-index: -1;
    max-width: 1900px;
    width: 120%;
    transform: translateX(-50%);
    left: 50%;

    img {
      border-radius: 50%;
    }
  }

  ////////////////////////////////SucheFELD im Head
.mod_form {
  position: absolute;
  transform: translateX(223%);
  margin: auto 0;
}

.formbody {
  display: inline-flex;
}

select, input, textarea {
  background-color: rgba(255, 255, 255, 0);
}

#ctrl_1 {
  border-style: none;
  border-bottom: 1px solid  $blue_marin;
}

#ctrl_2 {
  width: 16px;
  padding: -3px;
  transform: translateX(-18px);
}

///////////////////////SuchSEITE
#ctrl_submit_8 {
  height: 25px;
}

.mod_search > form:nth-child(1) > div:nth-child(1) > div:nth-child(2) {
  padding: 0 10px;
}

.mod_search {
  margin-top: 34px;
  padding: 0 20px;
}

//////////////////////////////////XL
@media (min-width: 1600px){
  .header-image{
    top: -632px;
    width: unset;
    transform: unset;
    @include x_center;
  }
  .stage_abstand{
    margin-top: 600px;
  }
  #footer, #footer .mod_article{
    height: 70vh !important;
  }
}

///////////////////////////////////Desktop
@media (max-width: 1599px){
  .stage_abstand{
    margin-top: 52vw;
  }
}

//////////////////////////////////Mobile
@media (max-width: 700px) { //bis max * ausgeführt
  .header-image {
    position: absolute;
    top: -34vw;
    opacity: 0.1;
  }
  .head{
    background-color: unset;
  }
  .stage_abstand{
    margin-top: 100px;
  }
}


