@import "variables";
body {
  overflow-x: hidden;
}


.block_4{
  background-color: $blue_sky;
  a{
    display: block;
    width: 218px;
    height: 100%;
  }
  a:hover{
    color: white !important;
  }
}

.block_4:hover{
  background-color: $blue_marin;
  transition: 0.5s;
  img {
    transform: scale(1.1);
    transition: 0.5s;
  }
}

.block_2{
  width: $container_size_2;
  background-color: $blue_marin;
}

.block_2, .block_4{
  p, h1, h2, h3, hr{ color: white;}
  a {
    color: white;
    text-decoration-line: none;
  }
  margin: $content_margin;
  height: 150px;
  border-radius: 5px;
  float: left;
  position: relative;
  table{
    border-collapse: separate;
    border-spacing: 10px;
  }
  td{
    line-height: 2px;
  }
  img{
    filter: invert(99%) sepia(99%) saturate(2%) hue-rotate(283deg) brightness(106%) contrast(100%);
  }
}

.section{
  //@include x_center;
  width: 100%;
  text-align: center;
  overflow: hidden;
  //padding-right: 50%;
  //transform: translateX(21%);
}

.text_block{
  max-width: 702px;
  @include x_center;
  padding: 20px;
}

.table_person{
  p{
    padding-left: 20px;
  }
  td{
    height: 200px;
  }
}

.flyer{
  background-color: $blue_sky_light;
  border-radius: 7px;
  height: 200px;
  padding: 30px;
  margin: 120px 0;
  @include x_center;
  img {
    position: absolute;
    width: 230px;
    transform: translateY(-81%);
    -webkit-box-shadow: 10px 10px 155px -46px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 155px -46px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 155px -46px rgba(0,0,0,0.75);
  }
  p, h2 {
    color: white;
    text-align: left;
  }
  a{
    background-color: $blue_sky;
    width: 200px;
    display: inline-block;
    height: 36px;
    color: white;
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
    border-radius: 7px;
  }
  a:hover{
    background-color: $blue_marin;
    transition: 0.5s;
  }
  table{
    @include x_center;
  }
}

///////////////////////////////////Nachrichten

.mod_newslist, .mod_newsreader, .mod_newsarchive{
  h2 {
    //padding-top: 20px;
    width: auto;
  }
  @include x_center;
}



.layout_short{
  background-color: $blue_marin;
  margin: 20px 0;
  height: 280px;
  position: relative;
  p, h2, a {
    margin-left: unset;
    margin-right: unset;
    width: 48%;
    color: white;
    text-align: left;
  }
  h2 a {font-weight: bold;}

  .more a:hover, h2 a:hover{
    color: orange;
    transition: 0.5s;
  }

  p, h2 {
    padding: 0 0 0 20px;
  }


  .image_container{
    img{
      width: 44vw;
      height: auto;
      max-width: 490px;
    }
    position: relative;
    height: 0;
    float: right;
  }
}



#article-26, #article-9, #article-18, #article-27, #article-13{
  a{
    text-decoration-line: none !important;
  }
  .ce_hyperlink {
    text-align: center;
    background-color: $blue_sky;
    width: 186px;
    height: 50px;
    cursor: pointer;
    a{
      color:white;
      text-decoration-line: none !important;
    }
    @include x_center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }
  .ce_hyperlink:hover{
    background-color: $blue_marin;
    transition: 0.5s;
  }
}

.galerie img {
  width: 315px;
  padding: 5px;
}

.hyperlink_txt img{
  filter: invert(99%) sepia(99%) saturate(2%) hue-rotate(283deg) brightness(106%) contrast(100%);
  vertical-align: middle;
  width: 27px;
  padding-left: 10px;
  padding-bottom: 5px;
}

#article-9 .ce_hyperlink a{
  padding-top: 5px;
}
#article-9 .ce_hyperlink{
  margin-bottom: 50px;
}

.shadow{
  wiidth: 600px;
  height: 400px;
  background-color: green;
  position: relative;
}

.hyperlink_img img:hover{
  transform: scale(1.1);
  transition: 0.5s;
}


